---
// @ts-nocheck
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/disc.json';
    const data = await fetch(DATA_URL).then((res) => res.json());

    return Object.keys(data).map((id) => ({
        params: { id },
    }));
}

const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/disc.json';

const { params, request } = Astro;
const id = params.id;

const data = await fetch(DATA_URL).then((res) => res.json());
const disc = data[id];

const emoji = {
    Aqua: '💧',
    Ignis: '🔥',
    Terra: '⛰️',
    Ventus: '🌪️',
    Lux: '☀️',
    Umbra: '🌙',
    None: '⬜',
};

if (!disc) {
    throw Astro.redirect('/404', 302);
}
---

<Layout title={`${disc.name} | stelladb`}>
    <div class="disc-page" data-json={JSON.stringify(disc)}>
        <div class="header">
            <h1>{disc.name}</h1>

            <nav class="tabs">
                <button data-tab="details" class="tab active">Details</button>
                <button data-tab="melody" class="tab">Melody</button>
                {
                    disc.secondarySkill1 && (
                        <button data-tab="harmony" class="tab">
                            Harmony
                        </button>
                    )
                }
                <button data-tab="note" class="tab">Note</button>
            </nav>
        </div>

        <div class="content">
            <div class="left">
                <p>
                    {`${disc.star}⭐`}<br />
                    {disc.element}{emoji[disc.element]}<br />
                    {
                        disc.tag.map((tag) => (
                            <>
                                {tag}
                                <br />
                            </>
                        ))
                    }
                </p>
            </div>

            <div class="right">
                <section id="details" class="tab-panel">
                    <div class="slider-container">
                        <div class="slider upgrade1">
                            <label class="upgrade1-output">Upgrade: 0</label>
                            <input type="range" id="upgrade1" min="0" max="8" value="0" />
                        </div>

                        <div class="slider level">
                            <label class="level-output">Level: 1</label>
                            <input type="range" id="level" min="0" max="10" value="1" />
                        </div>

                        <div class="slider dupe1">
                            <label class="dupe1-output">Dupe: 0</label>
                            <input type="range" id="dupe1" min="1" max="6" value="1" />
                        </div>
                    </div>

                    <div class="stats">
                        <h2>Stats</h2>
                        <p>
                            {
                                Object.entries(disc.stat[0]).map(([stat, value]) => (
                                    <>
                                        {stat}: {value}
                                        <br />
                                    </>
                                ))
                            }
                        </p>
                    </div>

                    <div class="upgrade-cost">
                        <h2>Next upgrade cost</h2>
                        <p>
                            {
                                Object.entries(disc.upgrade[0]).map(([item, amount]) => (
                                    <>
                                        {item}: {amount}
                                        <br />
                                    </>
                                ))
                            }
                        </p>
                    </div>
                </section>

                <section id="melody" class="tab-panel" hidden>
                    <div class="slider-container">
                        <div class="slider dupe2">
                            <label class="dupe2-output">Dupe: 0</label>
                            <input type="range" id="dupe2" min="1" max="6" value="1" />
                        </div>
                    </div>

                    <div class="melody">
                        <h2>{disc.mainSkill.name}</h2>
                        <p>{disc.mainSkill.description}</p>
                    </div>
                </section>

                {
                    disc.secondarySkill1 && (
                        <section id="harmony" class="tab-panel" hidden>
                            <div class="slider-container">
                                <div class="slider harmony-level">
                                    <label class="harmony-level-output">Harmony level: 0</label>
                                    <input type="range" id="harmony-level" min="1" max="5" value="1" />
                                </div>
                            </div>

                            <div class="harmony1">
                                <h2>{disc.secondarySkill1.name}</h2>
                                <p>{disc.secondarySkill1.description}</p>
                                <p class="requirements">
                                    {Object.entries(disc.secondarySkill1.requirements[0]).map(([note, amount]) => (
                                        <>
                                            {note}: {amount}
                                            <br />
                                        </>
                                    ))}
                                </p>
                            </div>

                            {disc.secondarySkill2 && (
                                <div class="harmony2">
                                    <h2>{disc.secondarySkill2.name}</h2>
                                    <p>{disc.secondarySkill2.description}</p>
                                    <p class="requirements">
                                        {Object.entries(disc.secondarySkill2.requirements[0]).map(([note, amount]) => (
                                            <>
                                                {note}: {amount}
                                                <br />
                                            </>
                                        ))}
                                    </p>
                                </div>
                            )}
                        </section>
                    )
                }

                <section id="note" class="tab-panel" hidden>
                    <div class="slider-container">
                        <div class="slider upgrade2">
                            <label class="upgrade2-output">Upgrade: 0</label>
                            <input type="range" id="upgrade2" min="0" max="8" value="0" />
                        </div>
                    </div>

                    <div class="note">
                        <h2>Support Note</h2>
                        <p>
                            {
                                Object.entries(disc.supportNote[0]).map(([note, amount]) => (
                                    <>
                                        {note}: {amount}
                                        <br />
                                    </>
                                ))
                            }
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        // @ts-nocheck
        const disc = JSON.parse(document.querySelector('.disc-page').dataset.json);

        const tabs = document.querySelectorAll('.tab');
        const panels = document.querySelectorAll('.tab-panel');

        document.addEventListener('click', (e) => {
            const tab = e.target.closest('.tab');
            if (tab) {
                tabs.forEach((t) => {
                    const selected = t === tab;
                    t.classList.toggle('active', selected);
                });

                panels.forEach((p) => {
                    p.hidden = p.id !== tab.dataset.tab;
                });
            }
        });

        const upgrade1Input = document.querySelector('#upgrade1');
        const upgrade1Output = document.querySelector('.upgrade1-output');
        const levelInput = document.querySelector('#level');
        const levelOutput = document.querySelector('.level-output');
        const dupe1Input = document.querySelector('#dupe1');
        const dupe1Output = document.querySelector('.dupe1-output');
        const stats = document.querySelector('.stats p');
        const upgradeCost = document.querySelector('.upgrade-cost p');

        let upgrade1 = 0;
        let level = 1;
        let dupe1 = 1;

        upgrade1Input.addEventListener('input', onDetailsInput);
        levelInput.addEventListener('input', onDetailsInput);
        dupe1Input.addEventListener('input', onDetailsInput);
        onDetailsInput();

        function onDetailsInput() {
            upgrade1 = +upgrade1Input.value;
            level = +upgrade1Input.value * 10 + +levelInput.value;
            dupe1 = +dupe1Input.value;

            if (level < 1) level = 1;
            if (level > 90) level = 90;

            upgrade1Output.innerHTML = `Upgrade: ${upgrade1}`;
            levelOutput.innerHTML = `Level: ${level}`;
            dupe1Output.innerHTML = `Dupe: ${dupe1}`;

            const stat = disc.stat[level + upgrade1 - 1];

            stats.innerHTML = Object.entries(stat)
                .map(([stat, value]) => `${stat}: ${stat === 'ATK' && dupe1 > 1 ? value + disc.dupe[dupe1 - 2].ATK : value}`)
                .join('<br />');
            upgradeCost.innerHTML = `
                ${
                    upgrade1 >= 8
                        ? 'Max upgrade reached<br />'
                        : Object.entries(disc.upgrade[upgrade1])
                              .map(([item, amount]) => `${item}: ${amount}<br />`)
                              .join('')
                }
            `;
        }

        const dupe2Input = document.querySelector('#dupe2');
        const dupe2Output = document.querySelector('.dupe2-output');
        const melody = document.querySelector('.melody p');

        let dupe2 = 1;

        dupe2Input.addEventListener('input', onMelodyInput);
        onMelodyInput();

        function onMelodyInput() {
            dupe2 = +dupe2Input.value;
            dupe2Output.innerHTML = `Dupe: ${dupe2}`;

            const desc = disc.mainSkill.desc;
            const params = disc.mainSkill.params;
            const splitted = params.split('/')[dupe2 - 1].split(',');

            let result = desc;

            splitted.forEach((param, index) => {
                result = result.replace(`\{${index + 1}\}`, param);
            });

            result = result
                .replace(/<color=#(.{6})>/g, '<color style="color:#$1">')
                .replace(/\u000b/g, '<br />')
                .replace(/##/g, '<b>')
                .replace(/#.{4}#/g, '</b>');

            melody.innerHTML = result;
        }

        if (disc.secondarySkill1) {
            const harmonyLevelInput = document.querySelector('#harmony-level');
            const harmonyLevelOutput = document.querySelector('.harmony-level-output');
            const harmony1 = document.querySelector('.harmony1 p');
            const harmony1Req = document.querySelector('.harmony1 .requirements');
            const harmony2 = document.querySelector('.harmony2 p');
            const harmony2Req = document.querySelector('.harmony2 .requirements');

            let harmonyLevel = 1;

            harmonyLevelInput.addEventListener('input', onHarmonyInput);
            onHarmonyInput();

            function onHarmonyInput() {
                harmonyLevel = +harmonyLevelInput.value;
                harmonyLevelOutput.innerHTML = `Harmony level: ${harmonyLevel}`;

                const skill1 = disc.secondarySkill1;
                const desc1 = skill1.desc;
                const params1 = skill1.params;
                const splitted1 = params1.split('/')[harmonyLevel - 1].split(',');

                let result1 = desc1;

                splitted1.forEach((param, index) => {
                    result1 = result1.replace(`\{${index + 1}\}`, param);
                });

                result1 = result1
                    .replace(/<color=#(.{6})>/g, '<color style="color:#$1">')
                    .replace(/\u000b/g, '<br />')
                    .replace(/##/g, '<b>')
                    .replace(/#.{4}#/g, '</b>');

                harmony1.innerHTML = result1;

                harmony1Req.innerHTML = Object.entries(skill1.requirements[harmonyLevel - 1])
                    .map(([note, amount]) => `${note}: ${amount}`)
                    .join('<br />');

                if (disc.secondarySkill2) {
                    const skill2 = disc.secondarySkill2;
                    const desc2 = skill2.desc;
                    const params2 = skill2.params;
                    const splitted2 = params2.split('/')[harmonyLevel - 1].split(',');

                    let result2 = desc2;

                    splitted2.forEach((param, index) => {
                        result2 = result2.replace(`\{${index + 1}\}`, param);
                    });

                    result2 = result2
                        .replace(/<color=#(.{6})>/g, '<color style="color:#$1">')
                        .replace(/\u000b/g, '<br />')
                        .replace(/##/g, '<b>')
                        .replace(/#.{4}#/g, '</b>');

                    harmony2.innerHTML = result2;

                    harmony2Req.innerHTML = Object.entries(skill2.requirements[harmonyLevel - 1])
                        .map(([note, amount]) => `${note}: ${amount}`)
                        .join('<br />');
                }
            }
        }

        const upgrade2Input = document.querySelector('#upgrade2');
        const upgrade2Output = document.querySelector('.upgrade2-output');
        const note = document.querySelector('.note p');

        let upgrade2 = 0;

        upgrade2Input.addEventListener('input', onSupportNoteInput);
        onSupportNoteInput();

        function onSupportNoteInput() {
            upgrade1 = +upgrade2Input.value;
            upgrade2Output.innerHTML = `Upgrade: ${upgrade1}`;

            note.innerHTML = Object.entries(disc.supportNote[upgrade1])
                .map(([note, amount]) => `${note}: ${amount}`)
                .join('<br />');
        }
    </script>

    <style>
        .disc-page {
            padding: 0 1rem;
        }

        .header {
            display: flex;
            align-items: center;
            margin: 0 auto;
            padding: 0 1rem;
            max-width: 1000px;
            height: 64px;
        }

        h1 {
            margin: 0 1rem 0 0;
            font-weight: 700;
            font-size: 1.5rem;
        }

        .tabs {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-left: auto;
        }

        .tab {
            cursor: pointer;
            border: none;
            border-radius: 10px;
            background: var(--bg);
            padding: 0.5rem 0.75rem;
            color: var(--muted);
            font-size: 1rem;
        }

        .tab.active {
            color: var(--text);
            font-weight: 700;
        }

        .content {
            display: flex;
            gap: 1rem;
            padding: 1rem;
        }

        .left {
            width: 150px;
        }

        .right {
            flex: 1;
            min-width: 0;
        }

        .slider-container {
            position: sticky;
            top: var(--nav-height);
            background: var(--bg1a);
            backdrop-filter: blur(5px);
        }

        .slider {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
        }

        .slider label {
            width: 13ch;
        }

        .slider input[type='range'] {
            flex: 1;
            width: 100%;
            min-width: 0;
            accent-color: var(--accent);
        }

        .potential {
            margin-left: 1rem;
        }

        div[class] > p {
            margin-left: 1rem;
        }

        h2 {
            margin: 1.5rem 0 0.75rem 0;
        }

        h3 {
            margin: 1rem 0 0.5rem 0;
        }

        p {
            margin: 0.25rem 0;
        }
    </style>
</Layout>
