---
// @ts-nocheck
import Layout from '../layouts/Layout.astro';

const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/gacha.json';

const data = await fetch(DATA_URL).then((res) => res.json());
---

<Layout title="Banner | stelladb">
    {
        Object.entries(data)
        .sort((a, b) => new Date(b[1].startTime) - new Date(a[1].startTime))
        .map(([id, banner]) => (
            <div class="banner">
                <h2>{banner.name}</h2>
                <p>Rate-up 5⭐: {banner.rateUp5Star.map((charOrDisc) => <a href={`/${charOrDisc.id < 10000 ? 'character' : 'disc'}/${charOrDisc.id}`}>{charOrDisc.name}</a>).reduce((prev, curr) => [prev, ', ', curr])}</p>
                <p>Rate-up 4⭐: {banner.rateUp4Star.map((charOrDisc) => <a href={`/${charOrDisc.id < 10000 ? 'character' : 'disc'}/${charOrDisc.id}`}>{charOrDisc.name}</a>).reduce((prev, curr) => [prev, ', ', curr])}</p>
                {(() => {
                    const option = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit'};
                    const start = new Date(banner.startTime).toLocaleString('en-US', option);
                    const end = new Date(banner.endTime).toLocaleString('en-US', option);
                    return (
                        <p>
                            Start: <span class="time" data-time={banner.startTime}>{start}</span> - <span class="relative-time" data-time={banner.startTime} />
                        </p>
                        <p>
                            End: <span class="time" data-time={banner.startTime}>{end}</span> - <span class="relative-time" data-time={banner.endTime} />
                        </p>
                    );
                })()}
            </div>
        ))
    }
</Layout>

<script>
    // @ts-nocheck
    document.querySelectorAll('.time').forEach((e) => {
        const option = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit'};
        const time = new Date(e.dataset.time);
        e.textContent = time.toLocaleString('en-US', option);
    });

    updateRelativeTimes();
    setInterval(updateRelativeTimes, 1000);

    function updateRelativeTimes() {
        document.querySelectorAll('.relative-time').forEach((e) => {
            const time = new Date(e.dataset.time);
            const now = new Date();
            const diff = time - now;
            const absDiff = Math.abs(diff);

            let relativeTime;
            if (absDiff < 60 * 1000) {
                relativeTime = `${Math.round(absDiff / 1000)} second${Math.round(absDiff / 1000) !== 1 ? 's' : ''}`;
                relativeTime = diff < 0 ? `${relativeTime} ago` : `in ${relativeTime}`;
            } else if (absDiff < 60 * 60 * 1000) {
                relativeTime = `${Math.round(absDiff / (60 * 1000))} minute${Math.round(absDiff / (60 * 1000)) !== 1 ? 's' : ''}`;
                relativeTime = diff < 0 ? `${relativeTime} ago` : `in ${relativeTime}`;
            } else if (absDiff < 24 * 60 * 60 * 1000) {
                relativeTime = `${Math.round(absDiff / (60 * 60 * 1000))} hour${Math.round(absDiff / (60 * 60 * 1000)) !== 1 ? 's' : ''}`;
                relativeTime = diff < 0 ? `${relativeTime} ago` : `in ${relativeTime}`;
            } else {
                relativeTime = `${Math.round(absDiff / (24 * 60 * 60 * 1000))} day${Math.round(absDiff / (24 * 60 * 60 * 1000)) !== 1 ? 's' : ''}`;
                relativeTime = diff < 0 ? `${relativeTime} ago` : `in ${relativeTime}`;
            }
            e.textContent = relativeTime;
        });
    }
</script>

<style>
    div[class] > p {
        margin-left: 1rem;
    }

    h2 {
        margin: 1.5rem 0 0.75rem 0;
    }

    h3 {
        margin: 1rem 0 0.5rem 0;
    }

    p {
        margin: 0.25rem 0;
    }
</style>
