---
// @ts-nocheck
import Layout from '../layouts/Layout.astro';
import Tabs from '../components/Tabs.astro';

const DATA_URL = 'https://raw.githubusercontent.com/AutumnVN/StellaSoraData/refs/heads/main/emblem.json';

const data = await fetch(DATA_URL).then((res) => res.json());
---

<Layout title="Emblem | stelladb">
    <h1>
        YOSTAR DELETED THE EMBLEM ATTRIBUTE TYPE AND GROUP WEIGHT FILE IN HOTFIX 11/26<br />
        BELOW ARE ARCHIVE FROM THE PAST<br />
        IT MAY OR MAY NOT BE TRUE ANYMORE<br />
    </h1>

    <div class="emblem-page">
        <div class="header">
            <h1>
                Emblem<br />
            </h1>

            <Tabs>
                <button data-tab="lv70" class="tab active">Lv70</button>
                <button data-tab="lv80" class="tab">Lv80</button>
                <button data-tab="lv90" class="tab">Lv90</button>
            </Tabs>
        </div>

        <div class="content">
            <section id="lv70" class="tab-panel">
                <p>yes, chance to get pen is rigged</p>
                <h2>Normal Attributes</h2>
                {
                    data.lv70.attrGroup.map((group) => (
                        <div class="attr-group">
                            <h3>Weight: {group.weight}</h3>
                            {group.attr.map((attr) => (
                                <p>{attr}</p>
                            ))}
                        </div>
                    ))
                }
            </section>

            <section id="lv80" class="tab-panel" hidden>
                <p>yes, chance to get pen is rigged</p>
                <div class="unique-attr-group">
                    <h2>Unique Attributes</h2>
                    <h3>Weight:</h3>
                    <p>
                        {
                            Object.entries(data.lv80.uniqueAttrGroup.uniqueAttrNumWeight).map(([num, weight]) => (
                                <>
                                    {num}: {weight}
                                    <br />
                                </>
                            ))
                        }
                    </p>
                    <br />
                    {data.lv80.uniqueAttrGroup.attr.map((attr) => <p>{attr}</p>)}
                </div>
                <h2>Normal Attributes</h2>
                {
                    data.lv80.attrGroup.map((group) => (
                        <div class="attr-group">
                            <h3>Weight: {group.weight}</h3>
                            {group.attr.map((attr) => (
                                <p>{attr}</p>
                            ))}
                        </div>
                    ))
                }
            </section>

            <section id="lv90" class="tab-panel" hidden>
                <p>yes, there is no pen here</p>
                <div class="unique-attr-group">
                    <h2>Unique Attributes</h2>
                    <h3>Weight:</h3>
                    <p>
                        {
                            Object.entries(data.lv90.uniqueAttrGroup.uniqueAttrNumWeight).map(([num, weight]) => (
                                <>
                                    {num}: {weight}
                                    <br />
                                </>
                            ))
                        }
                    </p>
                    <br />
                    {data.lv90.uniqueAttrGroup.attr.map((attr) => <p>{attr}</p>)}
                </div>
                <h2>Normal Attributes</h2>
                {
                    data.lv90.attrGroup.map((group) => (
                        <div class="attr-group">
                            <h3>Weight: {group.weight}</h3>
                            {group.attr.map((attr) => (
                                <p>{attr}</p>
                            ))}
                        </div>
                    ))
                }
            </section>
        </div>
    </div>
</Layout>

<style>
    .emblem-page {
        padding: 0 1rem;
    }

    .header {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 1rem;
        max-width: 1000px;
        height: 64px;
    }

    h1 {
        margin: 0 1rem 0 0;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .content {
        display: flex;
        gap: 1rem;
        padding: 1rem;
    }

    div[class] > p {
        margin-left: 1rem;
    }

    h2 {
        margin: 1.5rem 0 0.75rem 0;
    }

    h3 {
        margin: 1rem 0 0.5rem 0;
    }

    p {
        margin: 0.25rem 0;
    }
</style>
