---
interface Props {
    href: string;
    name: string;
    desc: string;
    desc2?: string;
    star?: number;
    image: string;
    imageFallback?: string;
    inset?: number;
    corner?: string;
}

const { href, name, desc, desc2, star, image, imageFallback, inset = 0, corner } = Astro.props;
---

<div class={`card-border ${star ? `star${star}` : ''}`}>
    <a href={href} class="card">
        <div class=`image` style={`background-image: url(${image})${imageFallback ? `, url(${imageFallback})` : ''}; inset: ${inset}px`}></div>
        <div class="text">
            <h2>{name}</h2>
            <p>{desc}</p>
            {desc2 && <p>{desc2}</p>}
        </div>
        {corner && <img class="corner" src={corner} width="48" height="48" />}
    </a>
</div>

<style>
    .card {
        display: block;
        position: relative;
        background: var(--bg2);
        padding: 0;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        color: var(--text);
        text-decoration: none;
    }

    .card-border:not([class*='star']) .card {
        border-radius: 5px;
    }

    .card-border[class*='star'] {
        mask:
            linear-gradient(transparent 0 0) content-box,
            linear-gradient(#000 0 0);
        mask-composite: exclude;
        border-radius: 5px;
        padding: 5px;
    }

    .star3 {
        background: linear-gradient(135deg, #8ce, #dff);
    }

    .star4 {
        background: linear-gradient(135deg, #fd5, #efc);
    }

    .star5 {
        background: linear-gradient(135deg, #d8e, #7ff);
    }

    .image {
        position: absolute;
        inset: 0;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: #0006;
        padding: 0.5rem;
    }

    .card h2 {
        margin: 0;
        font-size: 1.25rem;
    }

    .card p {
        margin: 0.25rem 0 0 0;
    }

    .corner {
        position: absolute;
        top: -5px;
        left: -5px;
    }
</style>
